body{
   font-size: 15px;
}
.home, .row{
   padding: 20px 0;
}
.images img{
   width: 100%;
   border: 1px solid rgb(210, 200, 200);
   border-radius: 7px;
}
.row-1{
   justify-content: center;
}

@media screen and (max-width:1200px) {
   .row-2{
      flex-direction: column-reverse;
      align-items: center;
   }
}