.home{
   padding: 20px 0;
}
table, td{
   border: 1px solid #000;
   background-color: #EEEEEE;
}
table{
   width: 100%;
}
tr{
}
td{
   padding: 10px 15px;
   font-weight: 600;
}

td img{
   width: 100%;
}
@media screen and (max-width:800px){
   td img{
      width: 100%;
   } 
}