.home{
   padding: 20px 0;
}
table, tr, td{
   border: 1px solid #000;
   background-color: #EEEEEE;
   position: relative;
}
table{
   width: 100%;
}
tr{
}
td{
   padding: 5px 10px;
}

td img{
   width: 40%;
}
@media screen and (max-width:800px){
   td img{
      width: 100%;
   } 
}