.card-body{
   display: flex;
   flex-direction: column;
   justify-content: end;
}
.card img{
   padding: 0px 15px;
}
.card-title{
   font-weight: 600;
   font-size: 18px;
}

@media screen and (max-width:600px) {
   .card-title{
      font-size: 18px;
   }
}