
.paneli__item{
   border: 1px solid #000;
   border-radius: 5px;
   margin: 15px;
}

.stena__cards img{
   padding: 0px 15px;
}


.card{
   background-color: rgb(237, 237, 237);
}
.card-title{
   font-size: 20px;
   font-weight: 600;
   /* text-decoration: underline; */
}
.card-text{
   font-size: 16px;
}
@media screen and (max-width:600px) {
   .card-title{
      font-size: 16px;
   }
}