body{
   font-size: 15px;
}
.home{
   min-height: 100vh;
}
.images img{
   width: 100%;
   border: 1px solid rgb(210, 200, 200);
   border-radius: 7px;
}
@media screen and (max-width:1200px) {
   .row-2{
      flex-direction: column-reverse;
      align-items: center;
   }
   .row{
      justify-content: center;
   }
}