.subtitle{
   font-size: 23px; 
   font-weight: 500;
   color: #BF6505;
}

.production a{
   color: #ff0000;
   text-decoration: underline;
}
.production a:hover{
   color: #BF6505;
   text-decoration: none;
}
.embed-container {
   position: relative;
   padding-bottom: 56.25%;
   height: 0;
   overflow: hidden;
   max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}