
.krovel__cards img{
   padding: 0px 45px;
}

@media screen and (max-width:575px) {
   .krovel__cards img{
      padding: 0px 50px 0px 50px;
      
   }
}
.card{
   background-color: rgb(204, 204, 204);
}
.card-title{
   font-size: 18px;
   font-weight: 500;
   text-decoration: underline;
}
.card-text{
   font-size: 16px;
}